<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
	<script src='main.js'></script>
</head>

<body>
	<div class="card login">
		<a href="/login">Login</a>
	</div>
	<div class="content">
		<div class="card">
			<h1>Note Storage Server:</h1>
			<p>Store all your notes securely in the cloud ⛅️</p>
		</div>
		<div class="card last-active">
			<h3>Last active users:</h3>
			<div id="active">loading...</div>
		</div>
	</div>
</body>

</html>